/* Products.module.css */

/* General Styles */
.titlep {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Table Styles */
  .tablep {
    width: 70%;
    margin: auto;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th,
  td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  /* Form Styles */
  .formContainerp {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: auto;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .formContainerp > input {
    margin-bottom: 16px;
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
  }
  
  /* Button Styles */
  .button {
    padding: 12px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .addButtonp {
    background-color: red;
    border-radius: 10px;
    color: white;
    padding: 10px;
  }
  
  .updateButtonp {
    background-color: red;
    color: white;
    padding: 10px;
  }
  
  .deleteButtonp {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
  }
  
  .button:hover {
    background-color: #45a049;
  }
  @media screen and (max-width: 768px) {
    .tablep {
      width: 90%;
    }
  
    .formContainerp {
      width: 90%;
      max-width: 100%;
    }
  }